{
  "plugins": [
    "babel-plugin-istanbul",
    ["module-resolver", {
      "root": [
        "src",
        "test"
      ]
    }],
    ["lodash-magic-import", { "cache": true }]
  ],
  "presets": [
    ["@babel/preset-env", {
      "targets": { "node": true }
    }]
  ]
}
